/* CSS for header */
header{
    margin-left: -2%;
    margin-right: -2%;
    font-size: medium;
    flex-wrap: nowrap;
    text-align: center;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    z-index:99;
    position:sticky;
    top:0;
    background-color: white;
    height: 105px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
#hamburger{
    display:none;
}
#close{
    display:none;
}
/* Aligning navigation links */
nav ul{
    display:flex;
    flex-direction: row;  
    justify-content:space-around;
}
nav ul li{
    padding-right: 35px;
    font-family:Prata;
    
}
nav ul:last-child{
    padding-right: 0;
}

/* CSS for Searh bar */
section#search-bar input{
    height:2.1em;
    border-radius: 5px;
    border:none;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
input:focus-within{
    background-color: #f0f8ff;
}
input:focus {
    outline-color:aliceblue;
}
/* The search icon class */
svg{
    vertical-align:middle;
}

/* CSS for links */
a,a:visited{
    text-decoration: none;
    color: black;
}
a:hover{
    font-size: large;
    font-weight: bold;
    color:rgb(142, 23, 23);
    transition: all 0.3s ease;
}
/* Footer CSS */
footer{
    padding: 15px;
    text-align: center;
    margin:1% 0 1% 0;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
footer ul#footer-links{
    display:flex;
    flex-direction:row;  
    justify-content:space-evenly;
    justify-items: center;
    vertical-align:bottom;
    padding: 5px 5px;
    margin:5%;
}
footer ul#footer-links,p{
    padding: 0;
    margin: 2%;
}
footer ul#follow li{
   display:inline;
   padding-left: 1%;
   transition: all 0.3s ease;
}
footer a{
    font-weight: bold;
}
footer a:hover{
    font-size: medium;
}
footer li:last-of-type{
    padding-right: 30px;
}
footer img{
    height:20px;
}
@media (max-width: 768px) {
    header{
        flex-direction:space-around;
        align-items: center;
    }
    #hamburger{
        display:block;
        width: 30px;
        height: auto;
    }
    #close{
        float: right;
        display:block;
        width: 30px;
        padding: 5px;
        height: auto;
    }
    header nav{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        height: 100vh;
        background-color: white;
        z-index: 100;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        padding: 1%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
    }
    nav ul{
        flex-direction: column;
        padding: 0;
    }
    nav ul li{
        padding-right: 0;
        padding-bottom: 10px;
    }
    #search-bar input{
        width: 50%;
    }
    }
   
/* media query for tablet devices */
@media (min-width: 769px) and (max-width: 1024px) {
    header{
        flex-direction: row;
        align-items: center;
    }
    #navigation-bar{
        padding-left: 10px;
        padding-right: 10px;
    }
    nav ul{
        flex-direction:row;
        font-size:1em;
    }
    nav ul li{
        padding-right: 35px;
        padding-bottom: 0;
    }
    #search-bar input{
        width: 50%;
    }
}