/* CSS FOR DESKTOP */
body{
    margin: 0%;
    padding: 5px;
    overflow-x: hidden;
}
/* header is set to flexbox display and is sticky */
header{
    margin:0;
    font-size: medium;
    flex-wrap: nowrap;
    text-align: center;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    z-index:99;
    position:sticky;
    top:0;
    background-color: white;
    height: 105px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
/* hiding hamburger menu and close button */
#hamburger{
    display:none;
}
#close{
    display:none;
}
/* Aligning navigation links */
nav ul{
    display:flex;
    flex-direction: row;  
    justify-content:space-around;
}
nav ul li{
    padding-right: 35px;
    font-family:Prata;
    
}
nav ul:last-child{
    padding-right: 0;
}

/* CSS for Searh bar */
section#search-bar input{
    height:2.1em;
    border-radius: 5px;
    border:none;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
input:focus-within{
    background-color: #f0f8ff;
}
input:focus {
    outline-color:aliceblue;
}
/* The search icon class */
svg{
    vertical-align:middle;
}

/* CSS for links */
a,a:visited{
    text-decoration: none;
    color: black;
}
a:hover{
    font-size: large;
    font-weight: bold;
    color:rgb(142, 23, 23);
    transition: all 0.3s ease;
}

/* Back to Top Icon */
svg#back-to-top{
    opacity: 0.3;
    height: 30px;
    width: 30px;

    position: sticky;
    bottom:10px;
    float: right;
    z-index:1;
}
svg#back-to-top:hover{
    opacity: 1;
}
/* Image slider */
.slideshow-container{
    margin: 1% auto;
    display: flex;
    > * {
      flex: 0 0 100%;
    }
}

/* Footer CSS */
footer{
    margin-top: 15%;
    padding: 0 15px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 10px;
}
footer ul#footer-links{
    display:flex;
    flex-direction:row;  
    justify-content:space-evenly;
    justify-items: center;
    vertical-align:bottom;
}
footer ul#follow li{
   display:inline;
   padding-left: 1%;
   transition: all 0.3s ease;
}
footer a{
    font-weight: bold;
}
footer a:hover{
    font-size: medium;
}
footer li:last-of-type{
    padding-right: 30px;
}
footer img{
    height:20px;
}
.container img{
   max-width: 20%;
    padding: 0 3px;
}
/* Image container   */
.image{
    justify-content: center;
    align-items: center;
    max-width: 20%;
    padding: 0 3px;
}
.container img{
   max-width: 20%;
    padding: 0 3px;
}
#top-fashion-trends{
    margin: 1% auto;
    display: flex;
    > * {
      flex: 0 0 100%;
    }
}
.scrollable{
    display: flex;
    padding-right: 30px;
    will-change: transform;
    animation: scrolling 15s linear infinite;
}
 @keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
/* Banner CSS -static Image */
.banner img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}
.banner{
    margin-top: 1%;
}

/*media query for mobile devices */
@media (max-width: 768px) {
    body{
        font-size: small;
    }
    header{
        flex-direction:space-around;
        align-items: center;
    }
    #hamburger{
        display:block;
        width: 30px;
        height: auto;
    }
    #close{
        float: right;
        display:block;
        width: 30px;
        padding: 5px;
        height: auto;
    }
    header nav{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        height: 100vh;
        background-color: white;
        z-index: 100;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        padding: 1%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
    }
    nav ul{
        flex-direction: column;
        padding: 0;
    }
    nav ul li{
        padding-right: 0;
        padding-bottom: 10px;
    }
    #search-bar input{
        width: 50%;
    }
    /* CSS for the image slider */
    .mySlides {display: none;}
    img {vertical-align: middle;}

    /* Slideshow container */
    .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    }

    /* The dots/bullets/indicators */
    .dot {
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    }

    .active {
    background-color: #717171;
    }

    /* Fading animation */
    .fade {
    animation-name: fade;
    animation-duration: 1.5s;
    }

    @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
    }
    .banner img{
    width: 100%;
    height:auto;
    object-fit: cover;
    border-radius: 15px;
    }
     div{
        padding: 1%;
        text-align: center;
     }
     .mySlides img{
        width: 90%;
        height: 500px;
        object-fit: cover;
        object-position: top;
        border-radius: 15px;
        box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;

     }
}
   
/* media query for tablet devices */
@media (min-width: 769px) and (max-width: 1024px) {
    header{
        flex-direction: row;
        align-items: center;
    }
    #navigation-bar{
        padding-left: 10px;
        padding-right: 10px;
    }
    nav ul{
        flex-direction:row;
        font-size:0.8em;
    }
    nav ul li{
        padding-right: 35px;
        padding-bottom: 0;
    }
    #search-bar input{
        width: 50%;
    }
}